<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife Track{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <style>

    body {
        background-image:url("https://cdn.pixabay.com/photo/2017/10/25/16/54/african-lion-2888519_960_720.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        color:black;
    }

    input{
    padding: 100px;
    }


   small{
        font-family: 'Chilanka', cursive;
        color:#03AF4E ;
        font-size:1.2em;
        font-weight:900;
        margin-bottom:40px
    }


    button{
    color:black;
    }


    .well{
        margin-top:100px;
        margin-left:100px;
        opacity:0.8;
        color:white;
        border-radius:50px;
        width:80%;
        background-color:black;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height:40px;
        background-color: black;
        color: white;
        text-align: center;
    }

     .form-control{
    width:25em;
    }

    ul{

    margin-left:400px;
    margin-right:620px;
    margin-top:50px;
    }

    .text{
       font-family: 'Mansalva', cursive;
       font-size:2em;
       color:white;
    }


    </style>

</head>
<body>

<div class="text">
    <nav>
        <ul class="nav nav-tabs">
            <li  ><a href="/">HOME</a></li>
            <li  ><a href="/animal">Add Animals</a></li>
            <li  ><a href="/listanimal">View Animals</a></li>
            <li  ><a href="/sighting">Post Animal Sighting</a></li>
        </ul>
    </nav>

</div>

<div class="container">
    <!--begin main template-->


    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

<div class="footer">
    <p>Wildlife Tracker © 2019</p>
</div>


<!--end main template-->
{{#block "footer"}}




    </body>
    </html>
{{/block}}