{{#partial "content"}}

    <div class="well">
        <h1>Create a new hero!</h1>
        <small> ~turn your imaginations into epic~ </small>
        <center>
            <form action="/posts/new" method="post">
                <div class="form-group">
                    <label for="name"> Animal's Name</label>
                    <input id="name" name="name" type="text" class="form-control"><br>
                </div>

                <div class="form-group">
                    <input type="radio" name="endangered" value="endangered"> Endangered<br>
                </div>

                <button type="submit" class="btn btn-success">Add Animal</button>



            </form>
        </center>
    </div>


{{/partial}}

{{> layout.hbs}}