
{{#partial "content"}}


        <div class="well">
            <p1> “Until one has loved an animal, a part of one’s soul remains unawakened.” –Anatole France </p1>
        </div>

{{/partial}}

{{> layout.hbs}}