
{{#partial "content"}}

        <div class="well" style="margin-top:350px; margin-left:200px;">
            <p> “Until one has loved an animal, a part of one’s soul remains unawakened.” –Anatole France </p>
        </div>

{{/partial}}

{{> Layout.hbs}}