{{#partial "content"}}


    <div class="container" style="height:1000px;">

        <div class="well" >
            <center>
                <h1>Track your Sightseeing!</h1>
                <small> ~No effort to save these animals is too small~ </small><br><br>
            </center>
            <center>
            <div class="row">
<!--                   <h1>Endangered Animal</h1>-->
                        <form  action="/sighting" method="post">

                            <div class="form-group-block">
                                <label for="aname"> Animal's Name</label>
                                <input id="aname" name="aname" type="aname" class="form-control"><br>
                            </div>

                            <div class="form-group-block">
                                <label for="health"> Animal's Health</label><br>
                                <select name="health" style=" padding-right: 250px; border-radius:5px; color:black ">

                                    <option value="sick">Sick</option>
                                    <option value="okay">Okay</option>
                                    <option value="healthy">healthy</option>
                                </select><br><br>
                            </div>

                            <div class="form-group-block">
                                <label for="age"> Animals's Age</label><br>
                                <select name="age" style=" padding-right: 220px; border-radius:5px; color:black; text-align:center; ">

                                    <option value="newborn">New Born</option>
                                    <option value="young">Young</option>
                                    <option value="adult">Adult</option>
                                </select><br><br>
                            </div>

                            <div class="form-group-block">
                                <label  for="location"> Animal's location</label>
                                <input id="location" name="location" type="location" class="form-control" ><br>
                            </div>

                            <div class="form-group-block">
                                <label for="rangename"> Ranger Name</label>
                                <input id="rangename" name="rangename" type="rangename"  placeholder="Report's Name..."  class="form-control"><br>
                            </div>


                            <button type="submit" class="btn btn-success">Submit Report</button>
                        </form>

                </div>
            </center>
        </div>
    </div>



{{/partial}}

{{> Layout.hbs}}